@font-face {
  font-family: monument;
  src: url(.../public/MonumentExtended-Regular.otf);
}
#nav {
  font-family: monument, sans-serif;
  letter-spacing: 2px;
  background-color: #18181800; 
  height: 10vh;
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  padding: 0 5vw; 
}

#nav div {
  padding: 1.5vw;
  text-transform: uppercase; 
  font-size: 1.2vw;
  position: relative;
}

.nav-con {
  background-image: url(/public/favImg.png);
  background-size: cover; 
  background-position: center;
  padding: 1.5vw;
  height: 5.5vw;
  width: 9vw;
  margin-left: 50px;
}

#nav div:last-child {
  display: flex;
  gap: 4vw; 
}

#ab {
  text-transform: uppercase; 
  font-size: 1.2vw; 
  color: white; 
  text-decoration: none; 
  padding: 10px 15px;
  transition: color 0.3s, background-color 0.3s; 
}


#ab:hover {
  color: #ffffffa2; 
}

#gs{
  border-radius: 10px;
  background-color: #fa9a00;
  padding: 10px 15px;
  transition: color 0.3s, background-color 0.3s;
  /* color: #ffff;   */
}

#gs a{
  text-transform: uppercase; 
  color: #ffff;  
  font-size: 1.2vw; 
  text-decoration: none;
  font-family: monument;
}

#gs:hover{
  background-color: #fa9a00df;
  color: black; 
}